.game-word-container{
  float: left;
  position: relative;
  width: 20%;
  text-align: center;
  vertical-align: middle;

}
.game-word-text{
  color: rgba(0, 0, 0, 1);

}
.game-word-outerbox-deselected, .game-word-outerbox-selected{
  width:80%;
  padding-top:30%;
  padding-bottom: 30%;
  margin:10%;
  border-radius: 10%;
  opacity: 1;
}

.game-word-outerbox-deselected {
  background: $text-box-color-deselected;
  border: dashed;
}

.game-word-outerbox-selected {
  background: $text-box-color-selected;
  border: solid;
}
