

@font-face {
  font-family: 'Sigmar One', cursive;
}

html *
{
  font-family: 'Sigmar One' !important;
}

p {
  margin-bottom: 1em;
}



.extra-visible {
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
  color: $font-color-extra-visible;
}

legend h1 {
  !important;
  font-size:$font-size--lg;
  color: pink;
}

.heading {
  margin-bottom: 0.618em;

  &.-large {
    text-shadow:
    -1px -1px 0 $font-color-extra-visible,
    1px -1px 0 $font-color-extra-visible,
    -1px 1px 0 $font-color-extra-visible,
    1px 1px 0 $font-color-extra-visible;



    font-family: 'Sigmar One';
    font-size: $font-size--lg;
    font-weight: bold;
    line-height: $font-size--lg;
  }

  &.-medium {
    font-size: $font-size--md;
    font-weight: normal;
    line-height: $half-space;
  }

  &.-small {
    font-size: $font-size--sm;
    font-weight: bold;
    line-height: $half-space * 2 / 3;
  }

  &.-smallest {
    font-size: $font-size--xs;
    font-weight: bold;
  }
}

h1 {
  @extend .heading.-large;
}

h2 {
  @extend .heading.-medium;
}

h3 {
  @extend .heading.-small;
}
