// colors
$font-color--black: rgba(0, 0,0, 1);
$font-color--dark: #333;
$font-color--light: #fff;
$background--light: #eee;
$background--dark: #222;
$font-color-extra-visible: rgba(255, 86,255, 1);
$blue: #1f8de2;
$green: #1fe27b;
$red: #e21f3f;
$text-box-color-deselected: rgba(255, 255,255, 0.4);
$text-box-color-selected: rgba(255, 255,255, 0.8);
$text-box-border-color-deselected: rgba(255, 255,255, 1);
$text-box-border-color-selected: rgba(255, 86, 255, 1);
$text-box-border-color-invisible: rgba(155, 0, 0, 0);


// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 4vw;
$font-size--lg: 9vw;
$font-size--xl: 32px;
