@import 'vars';
@import 'typography';
@import 'game';

body {
  background-image: url("../images/canstockphoto61483731.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}
